:root{
    --rebaixamento-collor: #C91B04;
    --libertadores-collor: #003366;
    --pre-libertadores-collor:#1398BE;
    --sul-americana-collor: #DE9800;
    --zona-risco:#CCCCCC;
    --smooth-collor:#F7F7F7;
    --default-border-collor: #DDD;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 62.5%;

}

body {
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
}

table{
    margin: 3rem 0;
    border-collapse: collapse; /*remove o espaço entre tds*/
    border: 1px solid var(--default-border-collor);
}

thead{
    height: 2.5rem;
}

tr{
    border: solid 1px var(--default-border-collor);
}

td{
    padding: 0.5rem;
    min-width: 2rem;
}

thead tr th{
    font-size: 1.3rem;
    color: #999999;
    font-weight: 700;
    text-align: center;

    width: 2rem;
}

thead tr th:last-child{
    width: 5.5rem;
}

tr td:first-child{
    font-size: 1.8rem;
    font-weight: 700;
    width: 1rem; 
    text-align: center;
}
    
tbody tr td{
        font-size: 1.4rem;
        color: #666;
        text-align: center;
}

tbody tr:nth-child(4), tbody tr:nth-child(16){
    border-bottom: 2px solid var(--zona-risco);
}

tbody tr td:nth-child(2){
     font-size: 1.4rem;
     color: #666;
     font-weight: 700;
     text-align: left;
}

tbody tr td:nth-child(3){
     font-size: 1.4rem;
     color: black;
     font-weight: 700;
     text-align: center;
     
}

tfoot th{
    font-weight: 400;
    font-size: 1rem;
    color: #8F8F8F;
    text-align: left;
}

tfoot th>div:last-child{
    font-size: 1rem;
    color: #555;
    font-weight: 400;
    text-align: left;
}

tfoot th{
    padding: 0.6rem;
}

tfoot th div *{
    padding-right: 1rem;
}

tfoot th div span{
    font-size: 1rem;
    color: #555;
    font-weight: bold;
    text-align: left;

    padding: 0rem;
}

.legenda{
    font-size: 1rem;
    display: inline-flex;
}
.square{
    display: inline-block;

    padding: 0;
    margin-right: 0.5rem;
    border-radius: 25%;

    min-width: 0.8rem;
    min-height: 0.8rem;
}

.square.podio{
    background-color: var(--libertadores-collor);
}
.square.pre-libertadores{
    background-color: var(--pre-libertadores-collor);
}
.square.sul-americana{
    background-color: var(--sul-americana-collor);
}
.square.rebaixamento{
    background-color: var(--rebaixamento-collor);
}

.podio{
    color:  var(--libertadores-collor);
}
.quarto-lugar{
    color: var(--pre-libertadores-collor);
}
.intermediarios{
    color: var(--sul-americana-collor)
}
.zona-risco{
    color: var(--zona-risco);
    
}
.rebaixamento{
    color: var(--rebaixamento-collor);
}

.smooth{
    background-color: var(--smooth-collor);
}
